html,
body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle at bottom center,
            #1B3E5E 0%,
            #0A1B2F 25%,
            #0B1425 50%,
            #060A16 75%,
            #070915 100%);
}