h1,
h2,
p {
    color: white;
}

#projects-inner-container {
    position: relative;
    padding-top: 7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#projects-card-container {
    margin-top: 5%;
    width: 80%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

@media (max-width: 900px) {
    #projects-card-container {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}

