h1,
h2,
p {
    color: white;
}

#projects-inner-container {
    position: relative;
    padding-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#projects-card-container {
    margin-top: 5%;
    width: 80%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5%;
}