#about-container {
    background: black;
    display: block;
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

#about-container h1,
#about-container p,
#about-container h2 {
    color: white;
    font-family: "Boldonse", system-ui;
    word-spacing: 0.55rem;
}

#about-container p {
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    word-spacing: normal;
    width: 100%;
}


#about {
    display: flex;
    gap: 5%;
    width: auto;
}

#about-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#about-skills-icons {
    display: flex;
    gap: 3%;
}

