#about-container {
    background: black;
    display: block;
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

#about-container h1,
#about-container p,
#about-container h2 {
    color: white;
    font-family: "Jersey 25", system-ui;
}

#about-container p {
    letter-spacing: 0.1rem;
    word-spacing: normal;
    width: 100%;
}


#about {
    display: flex;
    width: 100%;
    gap: 5%;
}

@media (max-width: 960px) {
    #about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#about-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}


#about-skills-icons {
    display: flex;
    gap: 3%;
}

