#background-wallpaper-front-left-tree {
    position: absolute;
    top: calc(100% - 17rem);

    z-index: 10;
}

#background-wallpaper-front-right-tree {
    position: absolute;
    top: calc(100% - 28rem);
    left: calc(100% - 37.5rem);
    z-index: 10;
}

#background-wallpaper-front-middle-tree {
    position: absolute;
    top: calc(100% - 19rem);
    left: 28rem;
    
    z-index: 9;
}

#background-wallpaper-front-right-mountain {
    position: absolute;
        top: 20rem;
        left: calc(100% - 39rem);
        
        z-index: 8;
}


