.button {
    padding: 1% 7% 1% 7%;
    color: white;
    font-family: "Boldonse", system-ui;
    font-size: 1vw;
    border: 0;
    background-color: transparent;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
}

