#navbar-wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
    z-index: 10;
    animation: 2s ease-out 0s 1 forwards fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: black;
    background: transparent;
    box-shadow: 0px 0px 10px 7px rgba(112, 118, 177, 0.8);
}

#navbar-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Jersey 25", sans-serif;
    font-size: larger;
    color: white;
}

#navbar-container a:hover {
    color: rgba(133, 99, 196, 0.8);
}


#navbar-options {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    font-family: "Jersey 25", system-ui;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    #navbar-options {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 1rem;
        background: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        border-radius: 8px;
    }

    #navbar-options.active {
        display: flex;
    }
}